*.jasm
*.jaco
*.jac.db

# ---- Specific files to ignore ----
gemini.py
guess_game.py
hello.jac
buddy.py
guess_game.jac
guess_game1.jac
guess_game3.jac
guess_game3.impl.jac
guess_game4.jac
guess_game4.impl.jac
first.jac
mental_health_buddy01.jac

# ---- VS Code settings ----
.vscode/
*.code-workspace